<div class="main_content">
	<h2><%= t('.title') %></h2>
	<p><%= t('.intro_html') %></p>
	<div class="panel-group overflow" id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="heading1" style="padding-top: 5px; padding-bottom: 5px">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
	          <%= t('.rehearsal_room') %>
	        </a>
	      </h4>
	    </div>
	    <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
	      <div class="panel-body">	
	      	<%= t('.rehearsal_room_text_html') %>
	      </div>
	    </div>
    </div>

	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="heading2" style="padding-top: 5px; padding-bottom: 5px">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
	          <%= t('.producer') %>
	        </a>
	      </h4>
	    </div>
	    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
	      <div class="panel-body">
	      	<%= t('.producer_text_html') %>
	      </div>
	    </div>
    </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="heading3" style="padding-top: 5px; padding-bottom: 5px">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
	          <%= t('.studio') %>
	        </a>
	      </h4>
	    </div>
	    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
	      <div class="panel-body">	
		      <%= t('.studio_text_html') %>
	      </div>
	    </div>
    </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="heading4" style="padding-top: 5px; padding-bottom: 5px">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
	          <%= t('.mixing') %>
	        </a>
	      </h4>
	    </div>
	    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
	      <div class="panel-body">
		      <%= t('.mixing_text_html') %>
	      </div>
	    </div>
    </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="heading5" style="padding-top: 5px; padding-bottom: 5px">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
	          <%= t('.mastering') %>
	        </a>
	      </h4>
	    </div>
	    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
	      <div class="panel-body">
		      <%= t('.mastering_text_html') %>
	      </div>
	    </div>
    </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="heading6" style="padding-top: 5px; padding-bottom: 5px">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapse6">
	          <%= t('.graphics') %>
	        </a>
	      </h4>
	    </div>
	    <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
	      <div class="panel-body">
		      <%= t('.graphics_text_html') %>
	      </div>
	    </div>
    </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="heading7" style="padding-top: 5px; padding-bottom: 5px">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapse7">
	          <%= t('.distribution') %>
	        </a>
	      </h4>
	    </div>
	    <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
	      <div class="panel-body">
		      <%= t('.distribution_text_html') %>
	      </div>
	    </div>
    </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="heading8" style="padding-top: 5px; padding-bottom: 5px">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true" aria-controls="collapse8">
	          <%= t('.video') %>
	        </a>
	      </h4>
	    </div>
	    <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
	      <div class="panel-body">
		      <%= t('.video_text_html') %>
	      </div>
	    </div>
    </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="heading9" style="padding-top: 5px; padding-bottom: 5px">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="true" aria-controls="collapse9">
	          <%= t('.shows') %>
	        </a>
	      </h4>
	    </div>
	    <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
	      <div class="panel-body">
		      <%= t('.shows_text_html') %>
	      </div>
	    </div>
    </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="heading10" style="padding-top: 5px; padding-bottom: 5px">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="true" aria-controls="collapse10">
  		      <%= t('.transportation') %>
	        </a>
	      </h4>
	    </div>
	    <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
	      <div class="panel-body">
  		      <%= t('.transportation_text_html') %>
	      </div>
	    </div>
    </div>
</div>
</div>