<div class="form_main">
  <%= simple_form_for ([@post, @reply]) do |f| %>
    <% if user_signed_in? %>
      <%if @post.user.present? %>
        <%= f.input :message, :input_html => {:rows => 22, :value => "Originally posted by #{@post.user.username}:
\"#{@post.description}\"."} %>
  		<% else %>
    		<%= f.input :message, :input_html => {:rows => 22, :value =>
"Originally posted by guest:
\"#{@post.description}\"."} %>
  		<% end %>
	    <% else %>
        <%if @post.user.present? %>
          <%= f.input :email %>
      	  <%= f.input :message, :input_html => {:rows => 19, :value =>
"Originally posted by #{@post.user.username}:
\"#{@post.description}\"."} %>
        <% else %>
          <%= f.input :email %>
          <%= f.input :message, :input_html => {:rows => 19, :value =>
"Originally posted by guest:
\"#{@post.description}\"."} %>
        <% end %>
      <% end %>
    <%= f.button :submit, class: "btn-info" %>
  <% end %>
</div>