<div class="main_content well">
	<p><%= User.human_attribute_name("username") %>: <%= @user.username %></p>
	<p><%= User.human_attribute_name("email") %>: <%= @user.email %></p>
	<p><%= User.human_attribute_name("created_at") %>: <%= @user.created_at.strftime("%m/%d/%Y") %></p>
	<p><%= User.human_attribute_name("about_me") %>: <%= @user.about_me %></p>

	<div class="">
		<div class="btn"><%= link_to "Edit Profile", edit_user_registration_path %></div>
		<div class="btn"><%= link_to "Back", :back %></div>
	</div>
</div>