<p>Username: <%= @user.username %></p>
<p>Email: <%= @user.email %></p>
<p>Joined at: <%= @user.created_at.strftime("%m/%d/%Y") %></p>
<p>Last signed in: <%= @user.last_sign_in_at.strftime("%m/%d/%Y") %></p>
<p>About me: <%= @user.about_me %></p>