	<div class="footer panel panel-default">
	  <div class="panel-body">
	    	<span><%= t('.footer_title_html') %></span>
		    <div style="float:right">
		       	<span><%= link_to t('.help'), help_path %></span>
		     	<span><%= link_to t('.rules'), rules_path %></span>
		     	<span><%= link_to t('.terms'), terms_path %></span>
		     	<span><%= link_to t('.contact'), contact_path %></span>
	     	</div>
	  </div>
	</div>
</div>