<nav id="navbar" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'BerlinBand', root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <button class="highlight"><%= link_to t('.newpost'), new_post_path, class: "btn" %></button>
        <button><%= link_to t('.help'), help_path, class: "btn" %></button>
      </ul>

      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="dropdown">
          <button href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="btn"><%= current_user.email %> <span class="caret"></span></span></button>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to t('.my_posts'), my_posts_path %></li>
            <li><%= link_to t('.profile'), user_profile_path(current_user) %></li>
            <li class="divider"></li>
            <li><%= link_to t('.logout'), destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>        
      <% else %>
        <div class="login-button btn-group" role="group">
          <button type="button" aria-label="Left Align">
            <%= link_to t('.login'), new_user_session_path, class: "btn" %></button>
          <button type="button" class="highlight" aria-label="Left Align">
            <%= link_to t('.signup'), new_user_registration_path, class: "btn" %></button>
        </div>
      <% end %>
        <div class="language btn-group" role="group">
          <button type="button" aria-label="Left Align">
            <%= link_to image_tag("#{image_path('/images/de.svg')}"), locale: :de, class: "btn" %>
          </button>
          <button type="button" aria-label="Left Align">
            <%= link_to image_tag("#{image_path('/images/gb.svg')}"), locale: :en, class: "btn" %>
          </button>
        </div>        
      </ul>
    </div>
  </div>
</nav>