<div class="row">
		<ul class="nav nav-pills nav-stacked col-md-2 btn" style="border-right: 1px solid; padding: 0">
			<li><%= link_to 'Rehearsal Room', category_path(1) %></li>
			<li><%= link_to 'Producer', category_path(2) %></li>
			<li><%= link_to 'Studio', category_path(3) %></li>
			<li><%= link_to 'Mixing engineer', category_path(4) %></li>
			<li><%= link_to 'Mastering', category_path(5) %></li>
			<li><%= link_to 'Graphics', category_path(8) %></li>
			<li><%= link_to 'Distribution', category_path(6) %></li>
			<li><%= link_to 'Transportation', category_path(7) %></li>
			<li><%= link_to 'Shows', category_path(9) %></li>
		</ul>