<div class="main_content">
	<h2><%= t('.title') %> <span style="font-size: 17px"><%= t('.subtitle') %></span></h2>
	<p><%=  t('.welcome1_html', help: link_to('how does it work?', help_path), rules: link_to('site rules', rules_path)) %></p>
	<p><%= t('.welcome2_html', post_count: @posts.count()) %></p>		
	<p style="margin-top: 31%"><%= t('.welcome3_html', contact: link_to('contact us', contact_path)) %></p>
	<p><%= t('.welcome4_html') %></p>
</div>