<table class="table">
  <tr class="panel-heading row">
	  <td class="col-md-1"><%= Post.human_attribute_name("created_at") %></td>
	  <td class="col-md-7">	<%= Post.human_attribute_name("title") %></td>
	  <td class="col-md-2"><%= Post.human_attribute_name("location") %></td>
	  <td class="col-md-1"><%= Post.human_attribute_name("user") %></td>
	  <td class="col-md-1"><%= Post.human_attribute_name("link") %></td>
  </tr>
<% @posts.each do |f| %>
	<tr class="row panel-row">
		<td><%= f.created_at.strftime("%m/%d/%Y") %></td>
		<td><%= link_to f.title, post_path(f.id) %></td>
		<td><%= f.location %></td>
		<% if f.user.present? %>
			<td><%= link_to f.user.username, user_path(f.user) %></td>
		<% else %>
			<td>Guest</td>
		<% end %>
		<td>
			<%= link_to "http://#{f.link}", :target => '_blank', class: "btn-sm" do %>
			    <i class="fa fa-external-link"></i>
			<% end %>
		</td>
	</tr>
<% end %>
</table>
<div><%= will_paginate @posts, style: "margin: 0" %></div>