<table class="table">
  <tr class="panel-heading row">
	  <td class="col-md-1">Posted on</td>
	  <td class="col-md-8">Title</td>
	  <td class="col-md-1">Location</td>
	  <td class="col-md-1">Link</td>
	  <td class="col-md-1">Posted by</td>
  </tr>
<% @posts.each do |f| %>
	<tr class="row">
		<td><%= f.created_at.strftime("%m/%d/%Y") %></td>
		<td><%= link_to f.title, post_path(f.id) %></td>
		<td><%= f.location %></td>
		<% if f.user.present? %>
			<td><%= link_to f.user.username, user_path(f.user) %></td>
		<% else %>
			<td></td>
		<% end %>
		<td>
			<%= link_to "http://#{f.link}", :target => '_blank', class: "btn-sm" do %>
			    <i class="fa fa-external-link"></i>
			<% end %>
		</td>
	</tr>
<% end %>
</table>
<div><%= will_paginate @posts, style: "margin: 0" %></div>