<%= render 'home/navbar' %>

<div class="panel panel-default inline col-md-10">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>

  <!-- Table -->
  <table class="table">

		<% @posts.each do |f| %>
			<tr>
				<td><%= f.created_at.strftime("Posted on %m/%d/%Y at %I:%M%p") %></td>
				<td><%= f.title %></td>
				<td><%= link_to 'edit', edit_post_path(f.id) %></td>
				<td><%= link_to 'delete', post_path(f.id), data: {confirm: "Are you sure you want to delete this post?"}, method: :delete %></td>
			</tr>
		<% end %>
  </table>
</div>