<div class="form_main row">
  <div class="col-md-6">
    <%= simple_form_for @post do |f| %>
      <% unless user_signed_in? %>
        <%= f.input :email %>
  	    <p style="font-size: 12px">&ast;&ast;Posts created by guests cannot be edited or deleted. If you have an account please sign in, otherwise you're welcome to sign up for a new account. it's free, and will always be :)</p>
        <% end %>
      <%= f.input :title %>
      <p>
        <%= f.label :category_id %>
        <%= f.select :category_id, Category.all.map { |f| [f.name, f.id]} %>
        <br>
        <%= f.label :post_type %>
        <%= f.select :post_type, ["wanted", "seeking"] %>
        <br>
        Not sure where you post belongs? Read our <%= link_to 'where should i post?', help_path %> page.
      </p>
      <div class="row">
        <div class="col-md-6"><%= f.input :location %></div>
        <div class="col-md-6"><%= f.input :link %></div>
      </div>
      <%= content_for(:the_links) do %>
      Please accept our <%= link_to "terms of use", terms_path,:remote => true %> 
      <% end %>
      <br>
      <br>
      <br>
      <br>
      <br>
      <%= f.input :terms_of_service, as: :boolean, :label => content_for(:the_links) %>
      <%= f.button :submit, class: "btn-info" %>
    </div>
  <div class="col-md-6">
    <%= f.input :description, :input_html => {:rows => 24} %>
  </div>
  <% end %>
</div>