<div class="form_main">
  <div class="row">
    <div class="col-md-6">
    <%= simple_form_for @post, :url => {controller: "posts", action: "send_reply"} do |f| %>
      <%= f.input :message, as: :text, :input_html => {:rows => 22, :value => "
-------------------------------------------------------------------------------
Original post:
\"#{@post.description}\".
-------------------------------------------------------------------------------"} %>
    </div>
    <div class="col-md-6">
      <% unless user_signed_in? %>
        <%= f.input :email %>
        <!-- <%= recaptcha_tags %> -->
      <% end %>
       <br>
      <%= f.button :submit, value: t(".send"), class: "btn-info" %>
    <% end %>
  </div>
</div>
</div>