<div class="main-content">
	<div>Posted on: <%= @post.created_at.strftime("%m/%d/%Y") %></div>
	<br>
	<% if @post.user.present? %>
		<div>Posted by: <%= @post.user.username %></div>
		<br>
	<% end %>
	<div>Title: <%= @post.title %></div>
	<br>
	<div>Location: <%= @post.location %></div>
	<br>
	<div>Link:
		<%= link_to "http://#{@post.link}", :target => '_blank', class: "btn-sm" do %>
		    <i class="fa fa-external-link"></i>
		<% end %>
	</div>
	<br>
	<div>Description: <%= @post.description %></div>
	<br>
	<% if user_signed_in? %>
		<% if @post.email != current_user.email %>
			<div><%= link_to "Reply", new_post_reply_path(@post) %></div>
		<% end %>
		<% else %>
			<div><%= link_to "Reply", new_post_reply_path(@post) %></div>
	<% end %>
</div>