<table class="table">
	<tr class="panel-heading">
		<td>Posted on</td>
		<td>Title</td>
		<td>Description</td>
		<td>Posted by</td>
		<td>Link</td>
		<% unless @post.user %>
			<td>Send mail</td>
		<% end %>
	</tr>
	<tr>
		<td><%= @post.created_at.strftime("%m/%d/%Y") %></td>
		<td><%= @post.title %></td>
		<td><%= @post.description %></td>
		<% if @post.user.present? %>
			<td><%= @post.user.username %></td>
		<% else %>
			<td></td>
		<% end %>
		<td>
			<%= link_to "http://#{@post.link}", :target => '_blank', class: "btn-sm" do %>
			    <i class="fa fa-external-link"></i>
			<% end %>
		</td>
		<% unless @post.user %>
			<td><%= link_to "Reply", new_post_reply_path(@post) %></td>
		<% end %>
	</tr>
</table>