<table class="table">
	<tr class="panel-heading" style="background-color: #e7e7e7">
		<td>Posted on</td>
		<td>User</td>
		<td>Title</td>
		<td></td>
		<td>Link</td>
		<td>Send mail</td>
	</tr>
	<tr>
		<td><%= @post.created_at.strftime("%m/%d/%Y") %></td>
			<% if @post.user.present? %>
				<td><%= @post.user.username %></td>
			<% else %>
				<td></td>
			<% end %>
		<td><%= @post.title %></td>
		<td><%= @post.description %></td>
		<td><%= link_to "Link", @post.link %></td>
		<td><%= link_to "Mail", @post.link %></td>
	</tr>
</table>