<div class="main_content well">
	<span class="title"><%= Post.human_attribute_name("title") %>: <%= @post.title %></span>
	<span style="float: right"><%= Post.human_attribute_name("created_at") %>: <%= @post.created_at.strftime("%m/%d/%Y") %></span>
	<br>
	<br>
	<% if @post.user.present? %>
		<div><%= Post.human_attribute_name("user") %>: <%= @post.user.username %></div>
		<br>
	<% end %>
	<div><%= Post.human_attribute_name("description") %>: <%= @post.description %></div>
	<br>
	<div><%= Post.human_attribute_name("location") %>: <%= @post.location %></div>
	<br>
	<div><%= Post.human_attribute_name("link") %>:
		<%= link_to "http://#{@post.link}", :target => '_blank', class: "btn-sm" do %>
		    <i class="fa fa-external-link"></i>
		<% end %>
	</div>
	<br>
	<div><%= Post.human_attribute_name("viewed") %>: <%= @post.viewed %></div>
	<br>
	<% if user_signed_in? %>
		<% if @post.email != current_user.email %>
			<div><%= link_to t('.reply'), post_reply_path(@post), class: "btn btn-info reply-button" %></div>
		<% end %>
		<% else %>
			<div><%= link_to t('.reply'), post_reply_path(@post), class: "btn btn-info reply-button" %></div>
	<% end %>
</div>