<!DOCTYPE html>
<html>
<head>
  <title>Bandportal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= slide_down_alerts %>
	<%= render 'home/navbar' %>
	<div class="row">
		<%= render 'home/sidebar' %>
		<div class="col-md-10" style="padding-left: 0">
		<%= yield %>
		</div>
	</div>
	<%= render 'home/footer' %>
</body>
</html>
